<div class="hero-wrap hero-bread" style="background-image: url('../../images/bg_6.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>History</span></p>
        <h1 class="mb-0 bread">Orders History</h1>
      </div>
    </div>
  </div>
</div>

<p id="notice"><%= notice %></p>
<section class="ftco-section ftco-cart">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ftco-animate">
        <div class="cart-list">
          <table class="table">
            <thead class="thead-primary">
              <tr class="text-center">
                <th>&nbsp;</th>
                <th>Customer</th>
                <th>Email</th>
                <th>Address</th>
                <th>Total</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>

            <% @orders.each do |order| %>
                <td><%= link_to "##{order.id}", order %></td>
                <td><%= order.first_name.to_s + ' ' + order.last_name.to_s %></td>
                <td><%= order.email %></td>
                <td><%= order.address %></td>
                <td clas="price">$<%= order.total %></td>
                <td><%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr><!-- END TR-->
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
  </div>
</section>
