<div class="col-sm-6 col-md-6 col-lg-4 ftco-animate">
  <div class="product">
    <a href="<%= product_path(product) %>" class="img-prod"><img class="img-fluid" src="../<%= product.image %>" alt="Colorlib Template">
      <div class="overlay"></div>
    </a>
    <div class="text py-3 px-3">
      <h3><a href="<%= product_path(product) %>"><%= product.name %></a></h3>
      <div class="d-flex">
        <div class="pricing">
          <p class="price"><span>$<%= product.price %></span></p>
        </div>
        <div class="rating">
          <p class="text-right">
            <a href="#"><span class="ion-ios-star-outline"></span></a>
            <a href="#"><span class="ion-ios-star-outline"></span></a>
            <a href="#"><span class="ion-ios-star-outline"></span></a>
            <a href="#"><span class="ion-ios-star-outline"></span></a>
            <a href="#"><span class="ion-ios-star-outline"></span></a>
          </p>
        </div>
      </div>
      <p class="bottom-area d-flex px-3">
        <a href="<%= edit_product_path(product) %>" class="buy-now text-center py-2">Edit</a>
        <a href="<%= product_path(product) %>" class="buy-now text-center py-2" data-method="delete" data-confirm="Are you sure?">Delete</a>
      </p>
    </div>
  </div>
</div>